<link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
<link href="../design/mycss/mary.css" rel="stylesheet">
<script src="../vendor/js/bootstrap.min.js"></script>
<script src="../vendor/js/jquery-3.3.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
		
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">      
                            <a hiiiiiiiiiiiiiii></a>                      
                    </div><!-- /header-text -->
			    </div>
			   
	</div>
</div>